<section class="d-flex flex-column justify-content-between" id="Main">
    <div id="main-top">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="font-size: 13px;font-family: Montserrat, sans-serif;font-weight: 600;">
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" [routerLink]="['/snake']" routerLinkActive="router-link-active">Snake</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" [routerLink]="['/canvas']" routerLinkActive="router-link-active">Endless Maps</a></li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#" style="font-weight: 600;">contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <h1 class="text-center" id="main-head">Simple. Elegant. Awesome.</h1>
        <h2 class="text-center" id="sub-head">Angluar P5js</h2>
    </div>
</section>